<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>@(ViewData["MetaTitle"] ?? "Goo Meppel Ukraine")</title>

    @if (ViewData["MetaDescription"] is string desc && !string.IsNullOrWhiteSpace(desc))
    {
        <meta name="description" content="@desc" />
    }

    @RenderSection("Head", required: false)

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GooMeppelUkraine.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GooMeppelUkraine.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="News" asp-action="Index">News</a>
                        </li>

                        @if (User.Identity?.IsAuthenticated == true && (User.IsInRole("Admin") || User.IsInRole("Editor")))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Manage
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/NewsManage">News</a></li>
                                    <li><a class="dropdown-item" href="/StatsManage">Stats</a></li>
                                    <li><a class="dropdown-item" href="/TeamManage">Team</a></li>
                                    <li><a class="dropdown-item" href="/PartnersManage">Partners</a></li>
                                </ul>
                            </li>
                        }
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Admin" asp-action="CreateUser">Admin: Create User</a>
                                </li>
                            }

                            <li class="nav-item">
                                <span class="navbar-text me-2">@User.Identity?.Name</span>
                            </li>

                            <li class="nav-item">
                                <form method="post" asp-controller="Account" asp-action="Logout" class="d-inline">
                                    <button type="submit" class="nav-link btn btn-link p-0">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }

                        @using Microsoft.AspNetCore.Http.Extensions
                        @{
                            var returnUrl = Context.Request.Path + Context.Request.QueryString;
                            var cur = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName.ToUpper();
                        }

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @cur
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="@Url.Action("Set","Language", new { culture="uk", returnUrl })">UK</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Set","Language", new { culture="en", returnUrl })">EN</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Set","Language", new { culture="nl", returnUrl })">NL</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - GooMeppelUkraine.Web
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
